flows.json
[
    {
        "id": "19d5a0f2.130707",
        "type": "tab",
        "label": "Heating setpoint logic",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f9e8465e.4242b",
        "type": "tab",
        "label": "Heating PID control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "374f7c93.e65914",
        "type": "tab",
        "label": "Cave lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42c3e6b533752f23",
        "type": "tab",
        "label": "Bathroom lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "df7063e97c28a022",
        "type": "tab",
        "label": "Front Door",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e73d20026d477284",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d21bd239b269b598",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2bd693293624bec5",
        "type": "subflow",
        "name": "ha light switch",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1200,
                "y": 220,
                "wires": [
                    {
                        "id": "095f3280930fa083",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1200,
                "y": 340,
                "wires": [
                    {
                        "id": "095f3280930fa083",
                        "port": 3
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "SWITCH_ID",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#3FADB5",
        "outputLabels": [
            "On",
            "Off"
        ],
        "icon": "node-red-dashboard/ui_switch.png"
    },
    {
        "id": "bfed26e3.9fa28",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "12932107.cee0af",
        "type": "alexa-smart-home-v3-conf",
        "username": "rsgvv",
        "mqttserver": "mq-red.cb-net.co.uk",
        "webapiurl": "red.cb-net.co.uk"
    },
    {
        "id": "241e9470.7dee34",
        "type": "serial-port",
        "serialport": "/dev/prolific",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\r",
        "responsetimeout": "1000"
    },
    {
        "id": "4e05386b.c2a6c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "9f442904.c7e8e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "463b4f94.ce5448",
        "type": "serial-port",
        "serialport": "/dev/cp210x",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\r",
        "responsetimeout": "10000"
    },
    {
        "id": "9b05d6f.f65c5a8",
        "type": "influxdb",
        "hostname": "192.168.178.250",
        "port": "8086",
        "protocol": "http",
        "database": "home_assistant",
        "name": "Influx",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "06c3c0e6aa9bb597",
        "type": "server-events",
        "z": "2bd693293624bec5",
        "name": "DeConz events",
        "server": "bfed26e3.9fa28",
        "event_type": "deconz_event",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 220,
        "y": 260,
        "wires": [
            [
                "276d4ba42eeee67c"
            ]
        ]
    },
    {
        "id": "276d4ba42eeee67c",
        "type": "switch",
        "z": "2bd693293624bec5",
        "name": "",
        "property": "payload.event.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SWITCH_ID",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "095f3280930fa083"
            ],
            []
        ]
    },
    {
        "id": "095f3280930fa083",
        "type": "switch",
        "z": "2bd693293624bec5",
        "name": "On/Hold/Release | Off/Hold/Release",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1001",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1003",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2001",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2003",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 770,
        "y": 260,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "53642155.d6438",
        "type": "alexa-smart-home-v3",
        "z": "19d5a0f2.130707",
        "conf": "12932107.cee0af",
        "device": "9123",
        "acknowledge": false,
        "name": "Temperature",
        "topic": "",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "b1b7584a.43ebc8",
                "9ac1025e.011fe"
            ]
        ],
        "icon": "font-awesome/fa-thermometer-1"
    },
    {
        "id": "ed120590.04b7e",
        "type": "trigger-state",
        "z": "19d5a0f2.130707",
        "name": "HA thermostat event",
        "server": "bfed26e3.9fa28",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "climate.home",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": true,
        "state_type": "str",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "783be855.039a18",
                "33bd3d68.ee6cba",
                "6457c74.9e71738",
                "818a8ab1.b658d8"
            ],
            []
        ]
    },
    {
        "id": "783be855.039a18",
        "type": "function",
        "z": "19d5a0f2.130707",
        "name": "HA > thermostatSetPoint",
        "func": "let newState = msg.data.event.new_state.attributes;\n\nreturn {\n    acknowledge: true,\n    payload: {\n        state: {\n            thermostatSetPoint: newState.temperature\n        }\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 120,
        "wires": [
            [
                "4a9e572d.80a1",
                "aae45713.75d65"
            ]
        ]
    },
    {
        "id": "33bd3d68.ee6cba",
        "type": "change",
        "z": "19d5a0f2.130707",
        "name": "store setPoint",
        "rules": [
            {
                "t": "set",
                "p": "setPoint",
                "pt": "flow",
                "to": "msg.data.event.new_state.attributes.temperature",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 480,
        "wires": [
            [
                "54bd30fa.341f68"
            ]
        ]
    },
    {
        "id": "1484d855.3b0348",
        "type": "function",
        "z": "19d5a0f2.130707",
        "name": "x+setPoint",
        "func": "flow.set(\"delta\", msg.payload);\nmsg.payload = flow.get(\"setPoint\") + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 700,
        "wires": [
            [
                "4fdc2814.eddcf8"
            ]
        ]
    },
    {
        "id": "2a0db8c1.89508",
        "type": "change",
        "z": "19d5a0f2.130707",
        "name": "store setPoint",
        "rules": [
            {
                "t": "set",
                "p": "setPoint",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 580,
        "wires": [
            [
                "efcd2bec.63725"
            ]
        ]
    },
    {
        "id": "b1b7584a.43ebc8",
        "type": "debug",
        "z": "19d5a0f2.130707",
        "name": "Alexa cmd",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "command & ': ' & payload",
        "targetType": "jsonata",
        "x": 470,
        "y": 760,
        "wires": []
    },
    {
        "id": "9ac1025e.011fe",
        "type": "switch",
        "z": "19d5a0f2.130707",
        "name": "Cmd",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SetTargetTemperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AdjustTargetTemperature",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 660,
        "wires": [
            [
                "4fdc2814.eddcf8",
                "52c8361d.2ff818"
            ],
            [
                "1484d855.3b0348"
            ]
        ]
    },
    {
        "id": "fd58cbb7.67a45",
        "type": "change",
        "z": "19d5a0f2.130707",
        "name": "Ack",
        "rules": [
            {
                "t": "set",
                "p": "acknowledge",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 660,
        "wires": [
            [
                "2cf5c916.6c7da6",
                "2be84c47.af2d84"
            ]
        ]
    },
    {
        "id": "2cf5c916.6c7da6",
        "type": "debug",
        "z": "19d5a0f2.130707",
        "name": "Alexa ack",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1620,
        "y": 600,
        "wires": []
    },
    {
        "id": "2be84c47.af2d84",
        "type": "alexa-smart-home-v3-resp",
        "z": "19d5a0f2.130707",
        "x": 1560,
        "y": 660,
        "wires": []
    },
    {
        "id": "4fdc2814.eddcf8",
        "type": "api-call-service",
        "z": "19d5a0f2.130707",
        "name": "Set",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "climate",
        "service": "set_temperature",
        "entityId": "climate.home",
        "data": "{\"hvac_mode\":\"heat\",\"temperature\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 850,
        "y": 660,
        "wires": [
            [
                "fd58cbb7.67a45",
                "2a0db8c1.89508"
            ]
        ]
    },
    {
        "id": "4a9e572d.80a1",
        "type": "alexa-smart-home-v3-state",
        "z": "19d5a0f2.130707",
        "conf": "12932107.cee0af",
        "device": "9123",
        "name": "Temperature",
        "x": 1630,
        "y": 120,
        "wires": []
    },
    {
        "id": "52c8361d.2ff818",
        "type": "api-call-service",
        "z": "19d5a0f2.130707",
        "name": "On",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "climate",
        "service": "turn_on",
        "entityId": "climate.home",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 850,
        "y": 580,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fire"
    },
    {
        "id": "2445ef88.67f078",
        "type": "alexa-smart-home-v3",
        "z": "19d5a0f2.130707",
        "conf": "12932107.cee0af",
        "device": "9124",
        "acknowledge": false,
        "name": "Set heating",
        "topic": "",
        "x": 180,
        "y": 840,
        "wires": [
            [
                "b1b7584a.43ebc8",
                "dad1601d.2a2ee"
            ]
        ],
        "icon": "node-red-dashboard/ui_switch.png"
    },
    {
        "id": "dad1601d.2a2ee",
        "type": "switch",
        "z": "19d5a0f2.130707",
        "name": "Cmd",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOn",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOff",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 840,
        "wires": [
            [
                "58cd6811.03273"
            ],
            [
                "98a77681.3326a"
            ]
        ]
    },
    {
        "id": "98a77681.3326a",
        "type": "api-call-service",
        "z": "19d5a0f2.130707",
        "name": "Off",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "climate",
        "service": "turn_off",
        "entityId": "climate.home",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 850,
        "y": 860,
        "wires": [
            [
                "fd58cbb7.67a45"
            ]
        ],
        "icon": "font-awesome/fa-fire"
    },
    {
        "id": "58cd6811.03273",
        "type": "api-call-service",
        "z": "19d5a0f2.130707",
        "name": "On",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "climate",
        "service": "turn_on",
        "entityId": "climate.home",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 850,
        "y": 780,
        "wires": [
            [
                "fd58cbb7.67a45"
            ]
        ],
        "icon": "font-awesome/fa-fire"
    },
    {
        "id": "818a8ab1.b658d8",
        "type": "switch",
        "z": "19d5a0f2.130707",
        "name": "State",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "heat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "228e5795.fb81d"
            ],
            [
                "3afa4a05.82f696"
            ]
        ]
    },
    {
        "id": "6457c74.9e71738",
        "type": "debug",
        "z": "19d5a0f2.130707",
        "name": "Debug HA",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "228e5795.fb81d",
        "type": "function",
        "z": "19d5a0f2.130707",
        "name": "HA > On",
        "func": "return {\n    acknowledge: true,\n    payload: {\n        state: {\n            power: \"ON\"\n        }\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 240,
        "wires": [
            [
                "66161fb0.ee1ba",
                "aae45713.75d65"
            ]
        ]
    },
    {
        "id": "3afa4a05.82f696",
        "type": "function",
        "z": "19d5a0f2.130707",
        "name": "HA > Off",
        "func": "return {\n    acknowledge: true,\n    payload: {\n        state: {\n            power: \"OFF\"\n        }\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 300,
        "wires": [
            [
                "66161fb0.ee1ba",
                "aae45713.75d65"
            ]
        ]
    },
    {
        "id": "66161fb0.ee1ba",
        "type": "alexa-smart-home-v3-state",
        "z": "19d5a0f2.130707",
        "conf": "12932107.cee0af",
        "device": "9124",
        "name": "Set heating",
        "x": 1630,
        "y": 300,
        "wires": []
    },
    {
        "id": "aae45713.75d65",
        "type": "debug",
        "z": "19d5a0f2.130707",
        "name": "HA set state",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1630,
        "y": 200,
        "wires": []
    },
    {
        "id": "63edcbc5.f207fc",
        "type": "function",
        "z": "19d5a0f2.130707",
        "name": "Encoder to °C",
        "func": "msg.payload = (msg.payload / 2) + 5\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 1120,
        "wires": [
            [
                "7cf13af4.ca6984",
                "6775e2d9.b4eaac"
            ]
        ]
    },
    {
        "id": "7163aa9d.75969c",
        "type": "api-call-service",
        "z": "19d5a0f2.130707",
        "name": "Set",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "climate",
        "service": "set_temperature",
        "entityId": "climate.home",
        "data": "{\"hvac_mode\":\"heat\",\"temperature\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1650,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "6775e2d9.b4eaac",
        "type": "delay",
        "z": "19d5a0f2.130707",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 970,
        "y": 1120,
        "wires": [
            [
                "f9fd7b29.4c1b88"
            ]
        ]
    },
    {
        "id": "f9fd7b29.4c1b88",
        "type": "change",
        "z": "19d5a0f2.130707",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "haKnob",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 1120,
        "wires": [
            [
                "7163aa9d.75969c"
            ]
        ]
    },
    {
        "id": "8d13b5a3.b284f8",
        "type": "function",
        "z": "19d5a0f2.130707",
        "name": "If changed",
        "func": "let knob = flow.get(\"knob\");\n\nif (flow.get(\"haKnob\") == knob)\n{\n  return null    \n}\n\nflow.set('haKnob', knob);\n\nreturn {\n    payload: knob\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 1040,
        "wires": [
            [
                "f9fd7b29.4c1b88"
            ]
        ]
    },
    {
        "id": "7cf13af4.ca6984",
        "type": "change",
        "z": "19d5a0f2.130707",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "knob",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "isKnobInhibited",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1200,
        "wires": [
            [
                "984e40.b51219c"
            ]
        ]
    },
    {
        "id": "efcd2bec.63725",
        "type": "function",
        "z": "19d5a0f2.130707",
        "name": "°C to Encoder",
        "func": "let encoderValue = flow.get(\"setPoint\") * 2 - 10; \n\nreturn { \n    payload: encoderValue\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 1280,
        "y": 480,
        "wires": [
            [
                "373d097c.358ff6"
            ]
        ]
    },
    {
        "id": "373d097c.358ff6",
        "type": "delay",
        "z": "19d5a0f2.130707",
        "name": "Limit",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1450,
        "y": 480,
        "wires": [
            [
                "c08dc009.45c8c",
                "504eee92.58eb48"
            ]
        ]
    },
    {
        "id": "c08dc009.45c8c",
        "type": "debug",
        "z": "19d5a0f2.130707",
        "name": "Thermostat TX",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1640,
        "y": 420,
        "wires": []
    },
    {
        "id": "cc4f7d46.5be65",
        "type": "debug",
        "z": "19d5a0f2.130707",
        "name": "Wall event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 450,
        "y": 1200,
        "wires": []
    },
    {
        "id": "54bd30fa.341f68",
        "type": "function",
        "z": "19d5a0f2.130707",
        "name": "If knob is not inhibited",
        "func": "if(flow.get(\"isKnobInhibited\") === true){\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 480,
        "wires": [
            [
                "efcd2bec.63725"
            ]
        ]
    },
    {
        "id": "b62b72f8.d61bf8",
        "type": "change",
        "z": "19d5a0f2.130707",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isKnobInhibited",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "984e40.b51219c",
        "type": "trigger",
        "z": "19d5a0f2.130707",
        "name": "",
        "op1": "",
        "op2": "inhibit = false",
        "op1type": "nul",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 1300,
        "y": 1200,
        "wires": [
            [
                "b62b72f8.d61bf8",
                "a4de9f78.6ea158"
            ]
        ]
    },
    {
        "id": "a4de9f78.6ea158",
        "type": "debug",
        "z": "19d5a0f2.130707",
        "name": "Inhibit",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1650,
        "y": 1260,
        "wires": []
    },
    {
        "id": "11766614.ebd87a",
        "type": "comment",
        "z": "19d5a0f2.130707",
        "name": "Alexa events",
        "info": "",
        "x": 110,
        "y": 600,
        "wires": []
    },
    {
        "id": "77764ad.5a027b4",
        "type": "comment",
        "z": "19d5a0f2.130707",
        "name": "HomeAssistant events",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "b5bd6730.a2135",
        "type": "comment",
        "z": "19d5a0f2.130707",
        "name": "Wall thermostat events",
        "info": "",
        "x": 140,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a5dbe358.0588d8",
        "type": "trigger",
        "z": "19d5a0f2.130707",
        "name": "",
        "op1": "",
        "op2": "inhibit = false",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 700,
        "y": 1040,
        "wires": [
            [
                "8d13b5a3.b284f8"
            ]
        ]
    },
    {
        "id": "e9794c80.394bc8",
        "type": "serial in",
        "z": "19d5a0f2.130707",
        "name": "Thermostat RX",
        "serial": "241e9470.7dee34",
        "x": 180,
        "y": 1120,
        "wires": [
            [
                "27e0aa1.cf09456",
                "cc4f7d46.5be65"
            ]
        ]
    },
    {
        "id": "504eee92.58eb48",
        "type": "serial out",
        "z": "19d5a0f2.130707",
        "name": "Thermostat TX",
        "serial": "241e9470.7dee34",
        "x": 1640,
        "y": 480,
        "wires": []
    },
    {
        "id": "27e0aa1.cf09456",
        "type": "function",
        "z": "19d5a0f2.130707",
        "name": "Parse",
        "func": "return {\n    payload: msg.payload.replace(/\\D/g,'')\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "a5dbe358.0588d8",
                "63edcbc5.f207fc"
            ]
        ]
    },
    {
        "id": "ca3d13aa.24e0d",
        "type": "PID",
        "z": "f9e8465e.4242b",
        "name": "",
        "setpoint": "16",
        "pb": "2",
        "ti": "3600",
        "td": "50",
        "integral_default": "0",
        "smooth_factor": "3",
        "max_interval": "100",
        "enable": "1",
        "disabled_op": "0",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "bf74138c.78c37"
            ]
        ]
    },
    {
        "id": "bf74138c.78c37",
        "type": "range",
        "z": "f9e8465e.4242b",
        "minin": "0",
        "maxin": "1",
        "minout": "40",
        "maxout": "56",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Target water temp.",
        "x": 670,
        "y": 240,
        "wires": [
            [
                "53d69b5f.3dfacc",
                "3668ba07.b3b426"
            ]
        ]
    },
    {
        "id": "d9545f60.bad498",
        "type": "function",
        "z": "f9e8465e.4242b",
        "name": "setpoint",
        "func": "let newState = msg.data.attributes;\n\nreturn {\n    topic: \"setpoint\",\n    payload: newState.temperature\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "ca3d13aa.24e0d",
                "87e87cd.eff97"
            ]
        ]
    },
    {
        "id": "9cf2da80.18d008",
        "type": "serial in",
        "z": "f9e8465e.4242b",
        "name": "OpenTherm RX",
        "serial": "463b4f94.ce5448",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "c32ea607.220ff",
                "e03b91f0.7fe7f",
                "bfcc504d.d9722"
            ]
        ]
    },
    {
        "id": "e03b91f0.7fe7f",
        "type": "function",
        "z": "f9e8465e.4242b",
        "name": "modulation_level",
        "func": "if(!msg.payload.startsWith(\"== modulation_level\")){\n    return null;    \n}\n\nreturn {\n    topic: \"modulation_level\",\n    payload:  Number(msg.payload.replace(/[^0-9.]/g,''))\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 620,
        "wires": [
            [
                "914de7e7.967a98"
            ]
        ]
    },
    {
        "id": "e11f165e.79a418",
        "type": "serial out",
        "z": "f9e8465e.4242b",
        "name": "OpenTherm TX",
        "serial": "463b4f94.ce5448",
        "x": 1140,
        "y": 380,
        "wires": []
    },
    {
        "id": "53d69b5f.3dfacc",
        "type": "function",
        "z": "f9e8465e.4242b",
        "name": "on X / off",
        "func": "if(msg.payload > 40){\n    return {\n        payload: \"on \" + msg.payload.toFixed(1)\n    };\n}else{\n    return {\n        payload: \"off\"\n    };\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 320,
        "wires": [
            [
                "e11f165e.79a418",
                "b60fdda4.663518"
            ]
        ]
    },
    {
        "id": "87f15c28.303858",
        "type": "poll-state",
        "z": "f9e8465e.4242b",
        "name": "HA Living Room Temperature",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "1",
        "updateIntervalUnits": "minutes",
        "outputinitially": true,
        "outputonchanged": false,
        "entity_id": "sensor.living_room_temperature",
        "state_type": "num",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "ca3d13aa.24e0d",
                "cd1cb9a7.8e531"
            ]
        ]
    },
    {
        "id": "f79f02ea.e01be8",
        "type": "poll-state",
        "z": "f9e8465e.4242b",
        "name": "HA Set Point",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "1",
        "updateIntervalUnits": "minutes",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "climate.home",
        "state_type": "str",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "d9545f60.bad498"
            ]
        ]
    },
    {
        "id": "b60fdda4.663518",
        "type": "debug",
        "z": "f9e8465e.4242b",
        "name": "OpenTherm TX",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "c32ea607.220ff",
        "type": "function",
        "z": "f9e8465e.4242b",
        "name": "water_temp",
        "func": "if(!msg.payload.startsWith(\"== boiler_flow_water_temp\")){\n    return null;    \n}\n\nreturn {\n    topic: \"water_temp\",\n    payload:  Number(msg.payload.replace(/[^0-9.]/g,''))\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 560,
        "wires": [
            [
                "ca1fe49d.ce839"
            ]
        ]
    },
    {
        "id": "ca1fe49d.ce839",
        "type": "influxdb out",
        "z": "f9e8465e.4242b",
        "influxdb": "9b05d6f.f65c5a8",
        "name": "",
        "measurement": "nr.boiler.water_temp",
        "precision": "ms",
        "retentionPolicy": "",
        "x": 950,
        "y": 560,
        "wires": []
    },
    {
        "id": "914de7e7.967a98",
        "type": "influxdb out",
        "z": "f9e8465e.4242b",
        "influxdb": "9b05d6f.f65c5a8",
        "name": "",
        "measurement": "nr.boiler.modulation_level",
        "precision": "ms",
        "retentionPolicy": "",
        "x": 970,
        "y": 620,
        "wires": []
    },
    {
        "id": "3668ba07.b3b426",
        "type": "influxdb out",
        "z": "f9e8465e.4242b",
        "influxdb": "9b05d6f.f65c5a8",
        "name": "",
        "measurement": "nr.heating.target_water_temp",
        "precision": "ms",
        "retentionPolicy": "",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "87e87cd.eff97",
        "type": "influxdb out",
        "z": "f9e8465e.4242b",
        "influxdb": "9b05d6f.f65c5a8",
        "name": "",
        "measurement": "nr.heating.set_point",
        "precision": "ms",
        "retentionPolicy": "",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "cd1cb9a7.8e531",
        "type": "influxdb out",
        "z": "f9e8465e.4242b",
        "influxdb": "9b05d6f.f65c5a8",
        "name": "",
        "measurement": "nr.heating.current_temperature",
        "precision": "ms",
        "retentionPolicy": "",
        "x": 990,
        "y": 460,
        "wires": []
    },
    {
        "id": "bfcc504d.d9722",
        "type": "debug",
        "z": "f9e8465e.4242b",
        "name": "OpenTherm RX",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 680,
        "wires": []
    },
    {
        "id": "5824a24a.a4724c",
        "type": "api-call-service",
        "z": "374f7c93.e65914",
        "name": "On",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave_desk",
        "data": "{\"brightness\": 200}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1010,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8cdc95c9.3d8dc",
        "type": "api-call-service",
        "z": "374f7c93.e65914",
        "name": "Off",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.cave_desk",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1010,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "70424785.21d92",
        "type": "api-call-service",
        "z": "374f7c93.e65914",
        "name": "B-",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave_desk",
        "data": "{\"brightness_step\": -20}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1010,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "fef02c3b.442c28",
        "type": "api-call-service",
        "z": "374f7c93.e65914",
        "name": "B+",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave_desk",
        "data": "{\"brightness_step\":20}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1010,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "0797fb2e2e498229",
        "type": "subflow:2bd693293624bec5",
        "z": "374f7c93.e65914",
        "name": "switch_6",
        "env": [
            {
                "name": "SWITCH_ID",
                "value": "switch_6",
                "type": "str"
            }
        ],
        "x": 340,
        "y": 440,
        "wires": [
            [
                "5824a24a.a4724c"
            ],
            [
                "8cdc95c9.3d8dc"
            ]
        ]
    },
    {
        "id": "70a4ed05770e8a1d",
        "type": "inject",
        "z": "374f7c93.e65914",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 300,
        "wires": [
            [
                "5824a24a.a4724c"
            ]
        ]
    },
    {
        "id": "5899d5ee5ba73818",
        "type": "inject",
        "z": "374f7c93.e65914",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 640,
        "wires": [
            [
                "8cdc95c9.3d8dc"
            ]
        ]
    },
    {
        "id": "dc1069cd7d473c48",
        "type": "debug",
        "z": "42c3e6b533752f23",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 560,
        "wires": []
    },
    {
        "id": "34518d4cd4ca95c8",
        "type": "alexa-smart-home-v3",
        "z": "42c3e6b533752f23",
        "conf": "12932107.cee0af",
        "device": "36100",
        "acknowledge": true,
        "name": "Relaxing bath lights",
        "topic": "",
        "x": 310,
        "y": 680,
        "wires": [
            [
                "06c05e7ba4de8e88",
                "dc1069cd7d473c48"
            ]
        ]
    },
    {
        "id": "06c05e7ba4de8e88",
        "type": "api-call-service",
        "z": "42c3e6b533752f23",
        "name": "Patiting scene",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.bathroom_bath",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 920,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "365f1ef30323fcb2",
        "type": "inject",
        "z": "42c3e6b533752f23",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 620,
        "wires": [
            [
                "06c05e7ba4de8e88"
            ]
        ]
    },
    {
        "id": "5318cb5aca7a6798",
        "type": "subflow:2bd693293624bec5",
        "z": "42c3e6b533752f23",
        "name": "switch_3",
        "env": [
            {
                "name": "SWITCH_ID",
                "value": "switch_3",
                "type": "str"
            }
        ],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "94d62dbe998ec7db",
                "c35480376687f58b"
            ],
            [
                "8b88aba697b7200a"
            ]
        ]
    },
    {
        "id": "b0b97b7d98f1ce19",
        "type": "poll-state",
        "z": "42c3e6b533752f23",
        "name": "HA Bathroom exhaust humidity",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "30",
        "updateIntervalUnits": "seconds",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "sensor.bathroom_humidity",
        "state_type": "num",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "dc1069cd7d473c48",
                "75f9732e65221d6c"
            ]
        ]
    },
    {
        "id": "2cabb530afbb897c",
        "type": "api-call-service",
        "z": "42c3e6b533752f23",
        "name": "",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.bathroom_fan_speed",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1050,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "75f9732e65221d6c",
        "type": "switch",
        "z": "42c3e6b533752f23",
        "name": "> X",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "64",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "2cabb530afbb897c"
            ],
            [
                "128ca1803e3c6473"
            ]
        ]
    },
    {
        "id": "128ca1803e3c6473",
        "type": "api-call-service",
        "z": "42c3e6b533752f23",
        "name": "",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.bathroom_fan_speed",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1050,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "94d62dbe998ec7db",
        "type": "api-call-service",
        "z": "42c3e6b533752f23",
        "name": "",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.bathroom_fan",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1050,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "75e13f912b7e44ec",
        "type": "api-call-service",
        "z": "42c3e6b533752f23",
        "name": "",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.bathroom_fan",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1050,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8b88aba697b7200a",
        "type": "trigger",
        "z": "42c3e6b533752f23",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 260,
        "wires": [
            [
                "75e13f912b7e44ec"
            ]
        ]
    },
    {
        "id": "c35480376687f58b",
        "type": "change",
        "z": "42c3e6b533752f23",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "8b88aba697b7200a"
            ]
        ]
    },
    {
        "id": "7c8f0336d442f6ed",
        "type": "alexa-smart-home-v3",
        "z": "df7063e97c28a022",
        "conf": "12932107.cee0af",
        "device": "36999",
        "acknowledge": false,
        "name": "Front door",
        "topic": "",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "278a0382267d67e2",
                "901f01be174c7858"
            ]
        ]
    },
    {
        "id": "278a0382267d67e2",
        "type": "switch",
        "z": "df7063e97c28a022",
        "name": "lock/unlock",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Lock",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Unlock",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 420,
        "wires": [
            [
                "ccdebfcf43739c2e"
            ],
            [
                "70f90699d56b7b99"
            ]
        ]
    },
    {
        "id": "ccdebfcf43739c2e",
        "type": "api-call-service",
        "z": "df7063e97c28a022",
        "name": "HA Front door lock",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "lock",
        "service": "lock",
        "entityId": "lock.front_door",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "out",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 770,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "70f90699d56b7b99",
        "type": "api-call-service",
        "z": "df7063e97c28a022",
        "name": "HA Front door unlock",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "debugenabled": false,
        "service_domain": "lock",
        "service": "unlock",
        "entityId": "lock.front_door",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "out",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 780,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5b4b5e750ae9cdf5",
        "type": "alexa-smart-home-v3-resp",
        "z": "df7063e97c28a022",
        "x": 810,
        "y": 560,
        "wires": []
    },
    {
        "id": "10e086c0563610e5",
        "type": "debug",
        "z": "df7063e97c28a022",
        "name": "ACKs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "901f01be174c7858",
        "type": "change",
        "z": "df7063e97c28a022",
        "name": "Ack",
        "rules": [
            {
                "t": "set",
                "p": "acknowledge",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 540,
        "wires": [
            [
                "5b4b5e750ae9cdf5",
                "10e086c0563610e5"
            ]
        ]
    },
    {
        "id": "92f8230f33f681e9",
        "type": "server-state-changed",
        "z": "df7063e97c28a022",
        "name": "HA lock event",
        "server": "bfed26e3.9fa28",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "lock.front_door",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "81fcf29eb09b6aa0",
                "cce780b3b5035eff"
            ]
        ]
    },
    {
        "id": "81fcf29eb09b6aa0",
        "type": "debug",
        "z": "df7063e97c28a022",
        "name": "HA Event",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "cce780b3b5035eff",
        "type": "switch",
        "z": "df7063e97c28a022",
        "name": "locked/unlocked",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "locked",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "unlocked",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "d1582a39120806dd"
            ],
            [
                "36d42e9e3a51b038"
            ]
        ]
    },
    {
        "id": "d1582a39120806dd",
        "type": "change",
        "z": "df7063e97c28a022",
        "name": "LOCKED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":{\"lock\":\"LOCKED\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 180,
        "wires": [
            [
                "c96f4dd3546aa627",
                "ac968158b49cf2c0"
            ]
        ]
    },
    {
        "id": "36d42e9e3a51b038",
        "type": "change",
        "z": "df7063e97c28a022",
        "name": "UNLOCKED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":{\"lock\":\"UNLOCKED\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 240,
        "wires": [
            [
                "c96f4dd3546aa627",
                "ac968158b49cf2c0"
            ]
        ]
    },
    {
        "id": "c96f4dd3546aa627",
        "type": "debug",
        "z": "df7063e97c28a022",
        "name": "Alexa set state",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 240,
        "wires": []
    },
    {
        "id": "ac968158b49cf2c0",
        "type": "alexa-smart-home-v3-state",
        "z": "df7063e97c28a022",
        "conf": "12932107.cee0af",
        "device": "36999",
        "name": "Front door",
        "x": 1170,
        "y": 180,
        "wires": []
    }
]